<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="En Un Blog de Recetas vas a encontrar recetas dulces, ricas y rápidas, de fácil elaboración con su paso a paso para que sean un éxito">
    <meta name="keywords" content="Recetas, dulces, tortas, chocolate, crema, merengue, frutos rojos, pasteleria, pastelera">
    <title>Un Blog de Recetas | Recetas</title>
    <link rel="stylesheet" href="../assets/css/archivo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--============GOOGLE FONTS=============-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <!--============BOOTSTRAP==============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    

</head>
<body>

    <!--============== NAVBAR =================-->
    <header class="body">
        <nav class="navbar navbar-expand-lg navbar-light fondo-nav">
            <a class="navbar-brand" href="./index.html"><img src="../img/logo-gorro.png" alt="logo" id="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link--color" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link--color" href="./recetas.html">Recetas</a>
                        </li>
                    <li class="nav-item">
                    <a class="nav-link--color" href="./nosotras.html">¿Quienes Somos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link--color" href="./shop.html">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link--color" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>  
    </header>

    <!--==================CONTENIDO================-->
    <section class="body">
        <div>
            <h1 class="titulo-principal">Recetas</h1>
        </div>


    <section class="grid-recetas">
            <div class="card" style="width: 18rem;">
                <img src="../img/pinguinitos.jpg" class="card-img-top" alt="Pinguinitos de chocolate con crema de malvavisco">
                <div class="card-body">
                <h5 class="card-title">Pinguinitos</h5>
                <p class="card-text">Muffins de chocolate con corazón de crema de malvaviscos, un viaje a la infancia.</p>
                <a href="../rec/pinguinitos.html" class="btn btn-secondary">Ir a la receta</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../img/torta-bombon.jpg" class="card-img-top" style="width: 18rem"; alt="Torta Bombon">
                <div class="card-body">
                <h5 class="card-title">Torta Bombón</h5>
                <p class="card-text">En esta torta combinamos el chocolate con el dulce de leche y hace que sea super húmeda.</p>
                <a href="../rec/torta-bombon.html" class="btn btn-secondary">Ir a la Receta</a>
                </div>
            </div>   
            <div class="card" style="width: 18rem;">    
                <img src="../img/torta-yogur.jpg" class="card-img-top" style="width: 18rem"; alt="Torta de Yogur">
                <div class="card-body">
                <h5 class="card-title">Torta de Yogur</h5>
                <p class="card-text">Esta torta de chocolate a base de yogur, es ideal para los más pequeños de la casa.</p>
                <a href="../rec/torta-yogur.html" class="btn btn-secondary">Ir a la receta</a>
                </div>
            </div>     
            <div class="card" style="width: 18rem;">    
                <img src="../img/torta-mousse.jpg" class="card-img-top" style="width: 18rem"; alt="Torta mousse de chocolate">
                <div class="card-body">
                <h5 class="card-title">Torta Mousse</h5>
                <p class="card-text">De sabor único, fuerte, espumosa y el toque dulce fantástico del merengue.</p>
                <a href="../rec/torta-mousse.html" class="btn btn-secondary">Ir a la receta</a>
                </div>
            </div>    
            <div class="card" style="width: 18rem;">    
                <img src="../img/donas.jpg" class="card-img-top" style="width: 18rem"; alt="Donuts">
                <div class="card-body">
                <h5 class="card-title">Donuts</h5>
                <p class="card-text">La receta de donas más sencilla que encontrarás, con un sabor que mezcla chocolate y naranja.</p>
                <a href="../rec/donas.html" class="btn btn-secondary">Ir a la receta</a>
                </div>
            </div>    
            <div class="card" style="width: 18rem;">    
                <img src="../img/flan-brownie.jpg" class="card-img-top" style="width: 18rem"; alt="Flan con base de Brownie">
                <div class="card-body">
                <h5 class="card-title">Flan Brownie</h5>
                <p class="card-text">Dos postres muy famosos, ricos e infaltables en una mesa dulce, combinados al mismo tiempo.</p>
                <a href="../rec/flan-brownie.html" class="btn btn-secondary">Ir a la receta</a>
                </div>
            </div>   
            <div class="card" style="width: 18rem;">    
                <img src="../img/torta-peras.jpg" class="card-img-top" style="width: 18rem"; alt="Torta de Peras y Chocolate">
                <div class="card-body">
                <h5 class="card-title">Torta de Peras y Chocolate</h5>
                <p class="card-text">Si tenes peras en tu casa, no te podés perder la oportunidad de probar esta receta. </p>
                <a href="../rec/torta-peras.html" class="btn btn-secondary">Ir a la receta</a>
                </div>
            </div>    
            <div class="card" style="width: 18rem;">    
                <img src="../img/rosca-pascua.jpg" class="card-img-top" style="width: 18rem"; alt="Rosca de Pascua">
                <div class="card-body">
                <h5 class="card-title">Rosca de Pascua</h5>
                <p class="card-text">Imposible no hacer esta receta tan fácil y rica, para tus Pascuas o para Reyes.</p>
                <a href="../rec/rosca-pascua.html" class="btn btn-secondary">Ir a la receta</a>
                </div>
            </div>   
            <div class="card" style="width: 18rem;">    
                <img src="../img/alfajores-avena.jpg" class="card-img-top" style="width: 18rem"; alt="Alfajores de Avena">
                <div class="card-body">
                <h5 class="card-title">Alfajores de Avena</h5>
                <p class="card-text">Estos alfajores hechos de avena son irresistibles a la hora de la merienda.</p>
                <a href="../rec/alfajores-avena.html" class="btn btn-secondary">Ir a la receta</a>
                </div>
        </section> 
    </section>
<!--==============FOOTER===============-->
<footer class="fondo-nav body">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h2 class="footer__titulo">Un Blog de Recetas</h2>
                    <p class="footer__parrafo">Copyright &copy; 2021</p>
                    <p class="footer__parrafo">Un Blog de Recetas, todos los derechos reservados</p>
                <ul class="list-inline mt-4">
                        <li><a href="https://www.instagram.com/unblogderecetas/" target="_blank" rel="noopener noreferrer" title="Instagram" class="footer__links"><i class="fab fa-instagram footer__links"></i> Instagram</a></li>
                        <li><a href="https://www.youtube.com/channel/UCScyf2paLxI53kEVjIsCjdQ" target="_blank" rel="noopener noreferrer" title="Youtube" class="footer__links"><i class="fab fa-youtube footer__links"></i> Youtube</a></li>
                        <li><a href="https://www.tiktok.com/@unblogderecetas?lang=es" target="_blank" rel="noopener noreferrer" title="Tiktok" class="footer__links"><i class="fab fa-tiktok footer__links"></i> Tik Tok</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h2 class="text-uppercase font-weight-bold mb-4 footer__titulo">Páginas</h2>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="../index.html" class="footer__links">Home</a></li>
                    <li class="mb-2"><a href="../views/recetas.html" class="footer__links">Recetas</a></li>
                    <li class="mb-2"><a href="../views/nosotras.html" class="footer__links">¿Quienes Somos?</a></li>
                    <li class="mb-2"><a href="../views/shop.html" class="footer__links">Shop</a></li>
                    <li class="mb-2"><a href="../views/contacto.html" class="footer__links">Contacto</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-lg-0">
                <h2 class="text-uppercase font-weight-bold mb-4 footer__titulo">Newsletter</h2>
                <p class="footer__parrafo mb-4">Suscribite a nuestro Newsletter</p>
                    <div class="p-1 rounded border">
                        <div class="input-group">
                            <input type="email" placeholder="E-mail" class="form-control border-0 shadow-0">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-link"><i class="fa fa-paper-plane footer__links"></i></button>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</footer>
    <!--=============SCRIPT=============-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>