$bordo: #7A283A;
$rosa:#C66E87;
$blanco:#fff;

.body{
    font-family: 'Bellota', cursive;
}


/*======================================
================ NAVBAR ================
========================================*/

.nav-link--color{
    color: $blanco;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    transition: 0.5s;
}

.nav-link--color:hover{
    text-decoration: none;
    color: $blanco;
    background: #b43d57;
    border-radius: 5px;
}


#logo{
    width: 100px;
    height: auto;
}

.fondo-nav{
    background-color: $bordo;
    padding: 5px;
}


.justificado{
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.7;
    font-size: 20px;

}

/*===============================
===========   HOME   ============
=================================*/
.titulo-principal{
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;

}

.titulo-principal-seccion{
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    text-shadow: 5px 5px 5px $bordo,
    5px 5px 5px black;
    color: $blanco;
    text-transform: uppercase;
}

/*====================================
============   RECETAS   =============
======================================*/
.fondo-rosa{
    background: url('../../img/cuadrille-rosa.png');
}

.grid-recetas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    margin-left: 10px;
}

/*=========================================
============= INGREDIENTES ================
===========================================*/

.titulo-ingrediente{
    font-size: 30px;
    text-shadow: 2px 2px 2px $bordo,
    2px 2px 2px black;
    text-align: center;
}

.titulo-secundario{
    font-style: italic;
    text-decoration: underline;
}

.ingredientes-contenedor{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background: url('../../img/cuadrille-rosa.png');

}

.elemento{
    color: black;
    font-weight: bold;
}

.boton-ingredientes{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    width: 100px;
    height: 40px;
    margin: 10px;
    color: $blanco;
    font-size: 16px;
    background-color: $bordo;
}

.estilo-lista-numerica{
    list-style: decimal;
}
.estilo-lista{
    list-style: disc;
}

/*========================================
================== SHOP ==================
==========================================*/

.product-grid6,.product-grid6 .product-image6{
    overflow:hidden
}
.product-grid6{
    font-family:'bellota';
    text-align:center;
    position:relative;
    transition:all .5s ease 0s
}
.product-grid6:hover{
    box-shadow:0 0 10px rgba(0,0,0,.3)
}
.product-grid6 .product-image6 a{
    display:block
}
.product-grid6 .product-image6 img{
    width:100%;
    height:auto;
    transition:all .5s ease 0s
}
.product-grid6:hover .product-image6 img{
    transform:scale(1.1)
}
.product-grid6 .product-content{
    padding:12px 12px 15px;
    transition:all .5s ease 0s
}
.product-grid6:hover .product-content{
    opacity:0
}
.product-grid6 .title{
    font-size:22px;
    font-weight:600;
    text-transform:capitalize;
    margin:0 0 10px;
    transition:all .3s ease 0s
}
.product-grid6 .title a{
    color:#000
}
.product-grid6 .title a:hover{
    color:$bordo
}
.product-grid6 .price{
    font-size:20px;
    font-weight:600;
    color:$bordo
}
.product-grid6 .price span{
    color:#999;
    font-size:15px;
    font-weight:400;
    text-decoration:line-through;
    margin-left:7px;
    display:inline-block
}
.product-grid6 .social{
    background-color:#fff;
    width:100%;
    padding:0;
    margin:0;
    list-style:none;
    opacity:0;
    transform:translateX(-50%);
    position:absolute;
    bottom:-50%;
    left:50%;
    z-index:1;
    transition:all .5s ease 0s
}
.product-grid6:hover .social{
    opacity:1;
    bottom:20px
}
.product-grid6 .social li{
    display:inline-block
}
.product-grid6 .social li a{
    color:#909090;
    font-size:16px;
    line-height:45px;
    text-align:center;
    height:45px;
    width:45px;
    margin:0 7px;
    border:1px solid #909090;
    border-radius:50px;
    display:block;
    position:relative;
    transition:all .3s ease-in-out
}
.product-grid6 .social li a:hover{
    color:#fff;
    background-color:$bordo;
    width:80px
}
.product-grid6 .social li a:after,.product-grid6 .social li a:before{
    content:attr(data-tip);
    color:#fff;
    background-color:$bordo;
    font-size:12px;
    letter-spacing:1px;
    line-height:20px;
    padding:1px 5px;
    border-radius:5px;
    white-space:nowrap;
    opacity:0;
    transform:translateX(-50%);
    position:absolute;
    left:50%;
    top:-30px
}
.product-grid6 .social li a:after{
    content:'';
    height:15px;
    width:15px;
    border-radius:0;
    transform:translateX(-50%) rotate(45deg);
    top:-20px
    ;z-index:-1
}
.product-grid6 .social li a:hover:after,.product-grid6 .social li a:hover:before{
    opacity:1
}


/*=====================================
============= FORMULARIO ==============
=======================================*/
.fondo-form{
    background: url('../../img/fondo-contacto.jpg');
}

.fondo-contact{
    background: url('../../img/fondo-contact.png');
}
.form{
    width: 450px;
    margin: auto;
    background: rgba(122, 40, 58, 0.6);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

.form__titulo{
    color: $blanco;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
}

.input-textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

.input-file{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

.pointer{
    cursor: pointer;
}


/*======================================
===========    FOOTER    =============
======================================*/

footer{
    background-color: #141414;
    color: $blanco;
    margin: auto;
}

.footer__parrafo{
    margin-top: 10px;
}

.footer__links{
    color:$blanco;
}

.footer__links:hover{
    opacity: 0.7;
    text-decoration: underline;
    text-decoration: none;
    color: $blanco;
}

.footer__titulo{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
}

li{
    list-style: none;
    margin-bottom: 10px;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}


/*=====================================
============== @MEDIA =================
=======================================*/
@media (min-width:1980px){

    .grid-recetas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .justificado{
        text-align: justify;
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 40px;
        margin-bottom: 40px;
        line-height: 1.7;
        font-size: 30px;
    
    }

    .footer__titulo{
        font-size: 24px;
    }

    .footer__parrafo{
        font-size: 18px;
    }

    .text-muted{
        font-size: 18px;
    }
}

@media (max-width:1480px){
    .grid-recetas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


@media (max-width:1280px){
    .nav-link--color{
        font-size: 20px;
    }


    #portada{
        height: 650px;
    }
}


@media (max-width: 1024px){
    .home-imagen{
        width: 100%;
    }

    .grid-recetas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        margin-left: 10px;
    }

}

@media only screen and (max-width:990px){
    .product-grid6{
        margin-bottom:30px
    }
}

@media (max-width: 768px){
    body{
        width: 100%;
    }
    .justificado{
        text-align: justify;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
        line-height: 1.5;
    
    }

    .nav-link--color:hover{
        text-decoration: none;
    }

    
    .grid-recetas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
    }
    footer .row{
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (max-width:565px){
    #logo{
        width: 100px;
        height: auto;
    }

    .nav-link--color:hover{
        text-decoration: none;
    }
    .grid-recetas{
        grid-template-columns: 1fr;
        margin-left: 125px;
    }

    footer .row{
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (max-width:478px){
    #logo{
        width: 90px;
        height: auto;
    }

    .titulo-principal{
        font-size: 26px;
    }

    .grid-recetas{
        grid-template-columns: 1fr;
        margin-left: 70px;
    }

    .titulo-secundario{
        font-size: 18px;
    }
    .form{
        width: 300px;
        background: rgba(122, 40, 58, 0.6);
        padding: 5px 5px;
        box-sizing: border-box;
        margin: auto;
        border-radius: 7px;
    }

    .form__titulo{
        margin: 0;
        font-size: 15px;
        margin-bottom: 2.5px;
    }
    
    .input-textarea{
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .footer__links{
        font-size: 12px;
    }
}


@media (max-width:412px){

    .nav-link--color:hover{
        text-decoration: none;
    }
    .titulo-principal{
        font-size: 16px;
    }

    .titulo-principal-blanco{
        font-size: 24px;
    }


    .grid-recetas{
        grid-template-columns: 1fr;
        margin-left: 50px;
        margin-right: 50px;
    }

    .titulo-secundario{
        font-size: 16px;
    }

    .form{
        width: 300px;
        background: rgba(122, 40, 58, 0.6);
        padding: 5px 5px;
        box-sizing: border-box;
        margin: auto;
        border-radius: 7px;
    }

    .form__titulo{
        margin: 0;
        font-size: 15px;
        margin-bottom: 2.5px;
    }
    
    .input-textarea{
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        box-sizing: border-box;
        font-size: 14px;
    }


    .footer__titulo{
        font-size: 14px;
    }

    .footer__parrafo{
        font-size: 12px;
    }

    .text-muted{
        font-size: 8px;
    }

    footer .row{
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
    }
}

@media (max-width:376px){

    #logo{
        width: 50px;
        height: auto;
    }

    .nav-link--color:hover{
        text-decoration: none;
    }

    .grid-recetas{
        grid-template-columns: 1fr;
        margin-left: 50px;
    }

    .titulo-secundario{
        font-size: 14px;
    }
    .footer__links{
        font-size: 12px;
    }
}

@media (max-width:324px){
    .grid-recetas{
        grid-template-columns: 1fr;
        margin-left: 25px;
    }
    .justificado{
        font-size: 20px;
    }
}

@media (max-width:281px){
    #logo{
        width: 50px;
        height: auto;
    }

    .nav-link--color:hover{
        text-decoration: none;
    }

    .titulo-principal{
        font-size: 12px;
    }


    .grid-recetas{
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
    }

    .titulo-secundario{
        font-size: 10px;
    }

    .form{
        width: 250px;
        background: rgba(122, 40, 58, 0.6);
        padding: 5px 10px;
        box-sizing: border-box;
        margin: auto;
        border-radius: 7px;
    }

    .form__titulo{
        margin: 0;
        font-size: 20px;
        margin-bottom: 5px;
    }
    
    .input-textarea{
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .footer__titulo{
        font-size: 14px;
    }

    footer .row{
        width: 100%;
        flex-wrap: wrap;
    }
}


